<div class="relative" clickedOutside (clickOutside)="onClickedOutside()">
  <button
    class="relative z-10 block rounded-md p-2 hover:bg-gray-600 text-gray-200 md:px-6 text-sm py-3 overflow-hidden focus:outline-none focus:border-white"
    (click)="toggleDropdown()"
  >
    <span class="fi fi-{{ currentLocale.flag | lowercase }}"></span>
    <span class="pl-1 hidden lg:inline">{{ currentLocale.label }}</span>
    <span class="pl-1 md:hidden">{{ currentLocale.code }}</span>
  </button>
  @if (dropdownOpen === true) {
    <div class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 py-2 w-32 md:w-48 bg-white rounded-md shadow-xl z-20">
      @for (locale of locales; track locale) {
        @if (locale.code !== currentLocale.code) {
        <a
          [href]="generateLink(locale.code)"
          class="block px-4 py-2 text-sm capitalize text-gray-800 hover:bg-gray-600 hover:text-white">
          <span class="fi fi-{{ locale.flag | lowercase }}"></span>
          <span class="pl-1 hidden md:inline">{{ locale.label }}</span>
          <span class="pl-1 md:hidden uppercase">{{ locale.code }}</span>
        </a>
        }
      }
    </div>
  }
</div>
