<div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (report of reportData; track report) {
        <div class="w-480 border border-gray-500 hover:border-blue-500 rounded" (click)="openModal(report)">
            <app-report-box [report]="report"></app-report-box>
        </div>
    }
</div>

@if (selectedReport) {
    <!-- change into [report]="selectedReport.id" to send to popup only report's id. -->
    <app-report-popup [report]="selectedReport" (closeModal)="onCloseModal()"></app-report-popup>
}
