.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  padding-bottom: 100px;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.loginForm h1 {
  margin-bottom: 1.5rem;
}

.loginForm input {
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.loginForm button {
  padding: 10px;
  background-color: rgb(201, 39, 39);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  background-color: #ffcccc;
}

.footer {
  background: rgb(175, 0, 0);
  color: white;
  text-align: center;
  padding: 0.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}