<div class="flex flex-row items-center">
  <!-- Image Section -->
  <div class="md:w-1/2 mb-12">
    <div class="text-center my-1 p-2 font-bold">Pet image</div>
    <img src="https://cdn.pixabay.com/photo/2015/11/03/08/56/question-mark-1019820_960_720.jpg" alt="Pet" class="w-full h-auto" />
  </div>

  <div class="w-full md:w-1/2 p-8 rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Pet Information</h2>
    <form>
      <!-- Pet name -->
      <div class="mb-4">
        <input
          type="text"
          id="pet_name"
          name="pet_name"
          placeholder="Enter pet name"
          class="w-full px-4 py-2 border rounded-md"
          [(ngModel)]="reportSummary.petName"
        />
      </div>
      <!-- Radio Buttons -->
      <div class="mb-4">
        <div class="flex justify-center px-6 gap-24">
          <div class="flex flex-col gap-2">
            <label class="font-bold mb-2 text-gray-700 text-lg">Type</label>
            <div>
              <input type="radio" id="type_dog" name="pet_type" value="dog" class="mr-2" [(ngModel)]="selectedType"/>
              <label for="type_dog" class="mr-4">Dog</label>
            </div>
            <div>
              <input type="radio" id="type_cat" name="pet_type" value="cat" class="mr-2" [(ngModel)]="selectedType"/>
              <label for="type_cat" class="mr-4">Cat</label>
            </div>
            <div>
              <input type="radio" id="type_other" name="pet_type" value="other" class="mr-2" [(ngModel)]="selectedType"/>
              <label for="type_other">Other</label>
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <label class="font-bold mb-2 text-gray-700 text-lg">Size</label>
            <div>
              <input type="radio" id="size_small" name="pet_size" value="small" class="mr-2" [(ngModel)]="selectedSize"/>
              <label for="size_small" class="mr-4">Small</label>
            </div>
            <div>
              <input type="radio" id="size_medium" name="pet_size" value="medium" class="mr-2" [(ngModel)]="selectedSize"/>
              <label for="size_medium" class="mr-4">Medium</label>
            </div>
            <div>
              <input type="radio" id="size_large" name="pet_size" value="large" class="mr-2" [(ngModel)]="selectedSize"/>
              <label for="size_large">Large</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pet Name Input -->
      <div class="relative w-full">
        <input
          type="text"
          [(ngModel)]="inputValue"
          [(ngModel)]="reportSummary.breed"
          name="breedInput"
          autocomplete="off"
          (input)="filterBreeds($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
          placeholder="Enter breed"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
        />
        <div
          *ngIf="filteredBreeds.length > 0 && isInputFocused"
          class="absolute z-10 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg"
        >
          <ul class="max-h-40 overflow-auto">
            <li
              *ngFor="let breed of filteredBreeds; let i = index"
              (click)="selectBreed(breed)"
              class="p-2 hover:bg-gray-200 cursor-pointer"
              [class.bg-gray-200]="i === highlightedIndex"
            >
              {{ breed }}
            </li>
          </ul>
        </div>
      </div>

      <!-- Contacts -->
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Contacts:</label>
        <div class="flex gap-6">
          <input
            type="text"
            id="telephone"
            name="telephone"
            placeholder="Enter telephone"
            class="w-full px-4 py-2 border rounded-md"
            [(ngModel)]="reportSummary.telephone"
          />
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter email"
            class="w-full px-4 py-2 border rounded-md"
            [(ngModel)]="reportSummary.email"
          />
        </div>
      </div>

      <!-- Pet Breed Input -->
      <div class="mb-4">
        <label for="comments" class="block text-gray-700 font-bold mb-2">Notes:</label>
        <textarea
          id="comments"
          name="comments"
          placeholder="Write additional notes here"
          class="w-full px-4 py-2 border rounded-md"
          [(ngModel)]="reportSummary.note"
        ></textarea>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          routerLink="/"
          (click)="reportSubmition()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
