<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/browser/en

    <Directory /var/www/html/browser/en>
        AllowOverride All
        Require all granted

        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ index.html [L]
    </Directory>

    Alias /en /var/www/html/browser/en
    Alias /lt /var/www/html/browser/lt

    <Directory /var/www/html/browser/lt>
        AllowOverride All
        Require all granted
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ index.html [L]
    </Directory>

    Alias /server/en /var/www/html/server/en
    Alias /server/lt /var/www/html/server/lt

    <Directory /var/www/html/server/en>
        Require all granted
    </Directory>

    <Directory /var/www/html/server/lt>
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
