<VirtualHost *:8000>
    ServerAdmin straysafe@kieti.lt
    ProxyRequests Off
    ProxyPreserveHost On

    <Proxy *>
        Require all granted
    </Proxy>

    # Forward all requests to localhost:8000
    ProxyPass / http://localhost:8000/
    ProxyPassReverse / http://localhost:8000/

    ErrorLog ${APACHE_LOG_DIR}/python_backend_error.log
    CustomLog ${APACHE_LOG_DIR}/python_backend_access.log combined
</VirtualHost>