<div class="">
    <div class="overflow-hidden p-2">
        <div class="w-full h-0" style="padding-bottom: 100%; position: relative;">
            <img src="{{ report.imageURL }}" class="absolute inset-0 w-full h-full object-cover rounded">
        </div>
    </div>
    <div class="text-center">
        <p class="text-sm text-gray-500" i18n="@@reportedTIMEAgo">reported {{ report.timeAgo }} ago</p>
        <div class="flex items-center justify-center">
            <p class="text-sm rounded px-2 py-1"
            [class.bg-red-300]="report.type === 0"
            [class.bg-blue-300]="report.type === 1">
            {{ report.type === 0 ? lost : found }}
            </p>
            <h2 class="text-lg font-bold ml-1">{{ report.petName }}</h2>
        </div>
        <p class="text-sm">{{ report.location }}</p>
    </div>
</div>
