<ul class="flex space-x-4" clickedOutside (clickOutside)="onClickedOutside()">
  <li *ngFor="let menu of categories; let i = index">
    <!-- menu item -->
    <a *ngIf="!menu.isDropDownMenu" [routerLink]="menu.route"
      ><span>{{ menu.description }}</span></a
    >

    <!-- Dropdown menu toggle -->
    <div class="relative">
      <a *ngIf="menu.isDropDownMenu" class="cursor-pointer select-none" (click)="toggleDropdown(i)">
        <span>{{ menu.description }}</span>
      </a>

      <!-- Dropdown menu items -->
      <div
        *ngIf="menu.isDropDownMenu && menu.expanded"
        class="absolute top-full mt-2 py-2 w-48 bg-neutral-800 rounded-md shadow-xl z-20"
      >
        <ul class="">
          <li *ngFor="let subMenu of menu.subMenuList">
            <a
              class="block px-4 py-2 text-sm capitalize text-white hover:bg-indigo-500 hover:text-white"
              [routerLink]="subMenu.route"
            >
              <span>{{ subMenu.description }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
